spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:~/test1;
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        show_sql: true
    hibernate:
      ddl-auto: create-drop
email:
  address:
    admin: admin@gmail.com

jwt:
  key: codestatessxxljxxxdafjklewklfkdlsnwfkelsfe3fedswfdsjdde
  access-token-expiration-minutes: 300
  refresh-token-expiration-minutes: 600

recipes:
  openapi-key: e907859720c24072b3be


